@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-display: swap;
  src: url(assets/fonts/roboto/roboto-300.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/roboto/roboto-400.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-display: swap;
  src: url(assets/fonts/roboto/roboto-700.woff2) format('woff2');
}

@font-face {
  font-family: 'Graduate';
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/graduate/graduate-400.woff2) format('woff2');
}

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  color: #1999C6;
  font-size: 26px;
  margin: 0;
  scroll-behavior: smooth;
  margin-top: 100px;
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
}

a,
button,
a:hover,
a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

h1,
h2 {
  font-family: 'Graduate', sans-serif;
  font-weight: 600;
  margin: 0px;
}

@media (min-width: 1025px) {
  h1 {
    font-size: 50px;
  }
}

@media (min-width: 651px) and (max-width: 1024px) {
  h1 {
    font-size: 45px;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 1025px) {
  h2 {
    font-size: 40px;
  }
}

@media (min-width: 651px) and (max-width: 1024px) {
  h2 {
    font-size: 35px;
  }
}

@media (max-width: 650px) {
  h2 {
    font-size: 30px;
  }
}

/* Nav */
.nav {
  position: fixed;
  top: 0;
  padding: 10px 50px;
  width: 100%;
  background-color: #1999C6;
  z-index: 1;
}

@media (max-width: 1024px) {
  .nav {
    padding: 10px 30px;
  }
}

/* Content */
.content {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

@media (min-width: 1025px) {
  .content {
    background-image: url('assets/media/bg-desktop.png');
  }
}

@media (max-width: 1024px) {
  .content {
    background-image: url('assets/media/bg-mobile.png');
  }
}

/* Mood */
.mood {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 50px;
  margin: 0 auto;
  max-width: 1440px;
  padding: 50px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .mood {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }
}

.mood__media {
  text-align: center;
}

.mood__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (max-width: 1024px) {
  .mood__content {
    padding: 30px;
  }
}

.mood__paragraph {
  font-weight: 300;
}

@media (min-width: 1025px) {
  .mood__paragraph {
    font-size: 30px;
  }
}

@media (min-width: 651px) and (max-width: 1024px) {
  .mood__paragraph {
    font-size: 25px;
  }
}

@media (max-width: 650px) {
  .mood__paragraph {
    font-size: 20px;
  }
}

/* Section text */
@media (min-width: 1025px) {
  .section-text {
    padding: 75px 0;
    box-sizing: border-box;
  }
}

@media (max-width: 1024px) {
  .section-text {
    padding: 50px 0;
  }
}

.section-text__wrapper {
  padding: 25px 0;
  color: #fff;
  background-color: rgba(25, 153, 198, .75);
}

@media (max-width: 1024px) {
  .section-text--about .section-text__wrapper {
    color: #199AC6;
    background-color: transparent;
  }
}

.section-text__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 1024px) {
  .section-text__inner-wrapper {
    padding: 0 30px;
  }

  .section-text--about .section-text__inner-wrapper {
    padding: 0;
  }
}

.section-text--small .section-text__inner-wrapper {
  max-width: 870px;
}


@media (min-width: 1025px) {
  .section-text__icon {
    margin: 0 auto 20px;
  }
}

.section-text__icon {
  width: 100%;
  max-width: 100px;
}

.section-text__media {
  display: block;
  margin: auto;
}

.section-text__headline {
  font-weight: 400;
  letter-spacing: 1.3px;
}

@media (min-width: 1025px) {
  .section-text__headline {
    margin-bottom: 40px;
  }
}

@media (max-width: 1024px) {
  .section-text__headline {
    margin-bottom: 25px;
  }
}

.section-text__cols {
  display: grid;
  gap: 0 80px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
  .section-text__cols {
    gap: 30px 0;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) {
  .section-text__col {
    position: relative;
    left: -100%;
    display: flex;
    gap: 0 25px;
    align-items: center;
    color: #fff;
    background-color: #1999C6;
    padding: 15px 30px;
    box-sizing: border-box;
    transition: left 1s ease-in-out;
  }

  .section-text__col:nth-child(1) {
    transition-delay: .5s;
  }

  .section-text__col:nth-child(2) {
    transition-delay: .75s;
  }

  .section-text__col:nth-child(3) {
    transition-delay: 1s;
  }

  .section-text--visible .section-text__col {
    left: 0;
  }
}

.section-text__col-headline {
  text-align: left;
  font-weight: normal;
  letter-spacing: .5px;
}

@media (min-width: 1025px) {
  .section-text__col-headline {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
  }
}

@media (min-width: 651px) and (max-width: 1024px) {
  .section-text__col-headline {
    font-size: 25px;
  }
}

@media (max-width: 650px) {
  .section-text__col-headline {
    font-size: 20px;
  }
}

.section-text__col-paragraph {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 2.6px;
}

@media (max-width: 1024px) {
  .section-text--about .section-text__col-paragraph {
    display: none;
  }
}

/* Contact */
@font-face {
  font-family: "LineIcons";
  src: url("assets/fonts/line-icons/line-icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.lni {
  display: inline-block;
  font: normal normal normal 1em/1 "LineIcons";
  color: inherit;
  flex-shrink: 0;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lni-map-marker::before {
  content: "\eb24";
}

.lni-phone::before {
  content: "\eb50";
}

.lni-alarm-clock::before {
  content: "\ea08";
}

.contact {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  padding: 25px 50px 60px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .contact {
    flex-direction: column;
    padding: 25px 0 50px;
  }
}

.contact__item {
  display: flex;
  padding: 20px 30px;
  background: #fff;
  border: 1px solid #e0e0e0;;
  transition: all .25s ease-in-out 0s;
}

@media (min-width: 1025px) {
  .contact__item {
    width: 100%;
    border-radius: 10px;
  }
}

.contact__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  background: #199AC6;
  transition: all .25s ease-in-out 0s;
}

.contact__content {
  margin-left: 25px;
}

.contact__content h4 {
  font-size: 20px;
  margin: 0 0 10px;
}

.contact__content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #6d6d6d;
  margin: 0px;
}

.contact__content a {
  color: #6d6d6d;
}

/* Map */
.map-container iframe {
  width: 100%;
  height: 400px;
  border: none;
}